<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAVqzF7laR8pv4pWD0v2F30pUNJoyfL2JE</string>
	<key>GCM_SENDER_ID</key>
	<string>683091432343</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.michbalkany.AuthmultiSignIn</string>
	<key>PROJECT_ID</key>
	<string>authpt2-5782e</string>
	<key>STORAGE_BUCKET</key>
	<string>authpt2-5782e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:683091432343:ios:d29874eda8d133d314ead2</string>
</dict>
</plist>